.profile{
  width: 200px;
  background-color: #ccc;
  font: 0.8em;

}
.profile-entry{
  display: flex;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}

.player-name{
 font-size: 25px;
 font-weight: bold;
 display: block;
}

.profile-entry-left{
 text-align: left;
 font-weight: bold;
}

.profile-entry-right{
  text-align: right;
  flex: 1;
}

.profile-pic{
  width: 100%;
}

.team-logo{
  width: 50%;
}